.commentSection
{
	margin: 0px;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: lightgrey;
	padding: 5px 0px 0px 0px;
	display: flex;
}

.reply
{
	margin-top: 0px;
	padding: 5px 5px 0px 0px;
	display: flex;
}

.collapse
{
	cursor: pointer;
	width: 12px;
	color : grey;
	font-size: 10px;
	margin: 0px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	background-color: lightgrey;

	/*https://stackoverflow.com/a/4407335*/
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.collapse:hover
{
	background-color: grey;
}

.comment {
	padding-left: 2px;
}

.comment_body
{

}
