.comment
{
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: lightgrey;
	padding: 10px 5px 5px 5px;
	display: flex;
}

.reply
{
	margin-top: 2px;
	padding: 10px 10px 0px 0px;
	display: flex;
}

.collapse
{
	font-size: 10px;
	margin: 1px;
	color : grey;
	padding: 2px 2px 2px 2px;
	background-color: lightgrey;
	width: 12px;
}
