.comment {
	outline-style: solid;
	outline-width: 3px 3px 3px 3px;
	outline-color: lightgrey;
	padding: 10px 5px 10px 10px;
}

.reply {
	border-style: solid;
	border-width: 0px 0px 0px 2px;
	border-color: lightgrey;
	margin-top: 2px;
	padding: 10px 10px 0px 10px;
}
