.commentSection
{
	margin: 0px;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #f1f1f1;
	padding: 5px 0px 5px 0px;
	background-color: #fafafa;
	display: flex;
}

.commentFrame
{
	margin-top: 0px;
	padding: 5px 5px 0px 2px;
	display: flex;
}
.collapse
{
	margin: 0px 0px 0px 2px;
	border-style: solid;
	border-width: 0px 2px 0px 2px;
	border-color: #d8d8d8;
	border-radius: 5px 0px 0px 5px;
	padding: 2px 2px 2px 2px;
	background-color: #f2f2f2;
	cursor: pointer;
	width: 14px;
	color : grey;
	font-size: 10px;

	/*https://stackoverflow.com/a/4407335*/
	-webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
		  	  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.collapse:hover
{
	background-color: #dddddd;
}
.commentAndReplies
{
}
.comment
{
	padding: 8px 0px 8px 5px;
}
.commentBody
{
}
.replies
{
}
