.dictum
{
	font-family: 'Helvetica', 'Arial', sans-serif;
	line-height: normal;
}

.commentSection
{
	margin: 0px;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #e0e0e0;
	padding: 0px 5px 5px 3px;
	/* background-color: #fafafa; */
}

.commentFrame
{
	border-width: 1px;
	margin-top: 0px;
	padding: 5px 0px 0px 2px;
	display: flex;
}
.collapse
{
	margin: 0px 5px 0px 0px;
	border-style: solid;
	border-width: 0px 2px 0px 0px;
	/* border-width: 0px 2px 0px 2px; */
	border-color: #c8c8c8;
	border-radius: 5px 0px 0px 5px;
	padding: 2px 2px 2px 2px;
	/* background-color: #f2f2f2; */
	cursor: pointer;
	width: 14px;
	color : grey;
	font: default;
	font-size: 10px;

	/*https://stackoverflow.com/a/4407335*/
	-webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
		  	  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.collapse:hover
{
	background-color: #e8e8e8;
}
.commentAndReplies
{
	width:100%;
}
.comment
{
	padding: 8px 10px 8px 5px;
	/* background-color: #f2f2f2; */
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: #efefef;
	background-color: #f8f8f8;
}
.commentBody
{
}
.replies
{
}
